body{
    width: 1200px;
    height: 700px;
    margin: 10px auto;
}

html, body {
    font-family: "Roboto", sans-serif;
}

h1, h2{
    text-align: center;
}

/*.form-label {
    //text-align: left;
}*/